nav {
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
	z-index: 2;
}
nav > .logo {
	text-align: center;
	font-weight: bold;
	flex-grow: 1;
	color: #fff;
	font-size: 1.5rem;
}
nav > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	flex-grow: 2;
}
nav > ul > li > a {
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
	transition: color 0.3s ease;
}
nav > ul > li > a:hover {
	color: var(--main-color);
}
